/* Styles pour centrer le contenu */
.car-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #1e1e1e; /* Couleur de fond sombre */
    color: #fff; /* Couleur du texte en blanc */
}

.search-container {
    margin-bottom: 20px;
    text-align: center;
}

.search-container h2 {
    margin-top: 0;
    color: #fff; /* Couleur du texte en blanc */
}

.search-container input {
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
    border: 1px solid #555; /* Bordure plus sombre */
    border-radius: 5px;
    background-color: #4c4c4c; /* Couleur de fond de l'input */
    color: #fff; /* Couleur du texte en blanc */
}

.search-container input::placeholder {
    color: #bbb; /* Couleur du placeholder */
}

.search-container button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #6c757d; /* Couleur de fond grise */
    color: white;
    border-radius: 5px;
}

.search-container button:hover {
    background-color: #5a6268; /* Couleur de fond grise plus foncée au survol */
}

/* Styles pour les cartes de voitures */
.car-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.car-card {
    border: 1px solid #555; /* Bordure plus sombre */
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 10px 20px rgba(0,0,0,.5); /* Ombre plus sombre */
    transition: transform 0.2s;
    text-align: center;
    background: #2c2c2c; /* Couleur de fond de la carte */
    color: #fff; /* Couleur du texte en blanc */
}

.car-card:hover {
    transform: scale(1.05);
}

.car-card img {
    width: 100%;
    border-radius: 10px;
}

.car-card h3 {
    margin-top: 0;
    color: #fff; /* Couleur du texte en blanc */
}

.car-card p {
    margin: 5px 0;
    color: #bbb; /* Couleur du texte en gris clair */
}

/* Retirer le soulignement des liens et remettre les textes à la normale */
.car-card a {
    text-decoration: none;
    color: inherit;
}

.car-card .price {
    color: #FF3100;
    font-size: 22px;
    font-weight: 900;
    margin-top: 10px;
}

.car-card .btn {
    display: inline-block;
    font-size: 13px;
    font-weight: 900;
    text-transform: uppercase;
    color: #FF3100;
    padding: 12px 18px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    line-height: .95;
    border: none;
    background: none;
    outline: none;
    border: 1px solid #FF3100;
    border-radius: 20px;
    overflow: hidden;
}

.car-card .btn .bg {
    width: 101%;
    height: 101%;
    display: block!important;
    z-index: -1;
    opacity: 0;
    transition: all .3s ease-in-out;
    background: linear-gradient(135deg, #a61322, #d33f34);
}

.car-card .btn:hover {
    color: #fff!important;
    border: 1px solid transparent!important;
}

.car-card .btn:hover .bg {
    opacity: 1;
}

/* Styles pour le bouton Supprimer */
.car-card .btn-delete {
    font-size: 20px;
    color: #FF3100;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.car-card .btn-delete:hover {
    color: #d33f34;
}

/* Styles pour les actions de la carte */
.card-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    width: 100%;
}

/* Styles pour la pagination */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 0 5px;
    border: none;
    background-color: #333;
    color: white;
    border-radius: 5px;
}

.pagination button:hover {
    background-color: #555;
}

.btn-edit {
    padding: 10px;
    font-size: 16px;
    color: white;
    border: none;
    cursor: pointer;
    transition: all .3s ease-in-out;
    background-color: #4CAF50;
    text-decoration: none;
}

.btn-edit:hover {
    background-color: #45a049;
}

h2 {
    margin-top: 0;
    text-align: center;
    color: #fff; /* Couleur du texte en blanc */
}

.filter-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.filter-buttons button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #333;
    color: white;
    border-radius: 5px;
}

.filter-buttons button:hover {
    background-color: #555;
}

/* Styles pour les suggestions d'auto-complétion */
.react-autosuggest__container {
    position: relative;
}

.react-autosuggest__input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #555; /* Bordure plus sombre */
    border-radius: 4px;
    background-color: #4c4c4c; /* Couleur de fond de l'input */
    color: #fff; /* Couleur du texte en blanc */
}

.react-autosuggest__input--focused {
    outline: none;
    border-color: #4CAF50;
}

.react-autosuggest__suggestions-container {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 2;
    border: 1px solid #555; /* Bordure plus sombre */
    background-color: #2c2c2c; /* Couleur de fond sombre */
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Ombre plus sombre */
}

.react-autosuggest__suggestions-container--open {
    display: block;
}

.react-autosuggest__suggestions-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.react-autosuggest__suggestion {
    padding: 10px;
    cursor: pointer;
    color: #fff; /* Couleur du texte en blanc */
}

.react-autosuggest__suggestion--highlighted {
    background-color: #4CAF50;
    color: #fff;
}