/* Styles pour centrer le contenu */
.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
    background-color: #1e1e1e; /* Couleur de fond sombre */
}

.hero-card {
    background: #2c2c2c; /* Couleur de fond sombre de la carte */
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5); /* Ombre plus sombre */
    padding: 20px;
    max-width: 800px;
    width: 100%;
    text-align: center;
}

.hero-card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.hero-card h2 {
    margin-top: 0;
    color: #fff; /* Couleur du texte en blanc */
}

.hero-card p {
    margin: 10px 0;
    color: #bbb; /* Couleur du texte en gris clair */
}

.hero-card .price {
    color: #FF3100;
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
}

.hero-card .info-title {
    font-weight: bold;
    color: #fff; /* Couleur du texte en blanc */
    margin-right: 5px;
}

.hero-card .info {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}

.hero-card .info div,
.hero-card .info span {
    color: #fff; /* Couleur du texte en blanc */
}

.hero-card .btn-delete-car, .hero-card .btn-update-car {
    display: inline-block;
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
    color: #fff;
    padding: 12px 18px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    line-height: .95;
    border: none;
    border-radius: 20px;
    margin-top: 20px;
}

.hero-card .btn-delete-car {
    background: #FF3100;
}

.hero-card .btn-delete-car:hover {
    background: #d33f34;
}

.hero-card .btn-update-car {
    background-color: #4CAF50;
    margin-left: 10px; /* Ajoute un espace entre les boutons */
}

.hero-card .btn-update-car:hover {
    background-color: #45a049;
}